.bg {
  background: url('../img/banner.jpg') no-repeat center center;
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 440px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  margin-bottom: 0px;
  height: 440px;
  width: 100%;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
  
  display: table;
  text-align: center;
}

#home {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-custom {
  border: 1px solid #FFF;
  color: #FFF;
  transition: color 800ms;
  font-size: 1em;
}

.btn-custom:hover {
  color: #669AC9;
}

#about p {
  font-size: 1.5em;
  text-align: center;
}

#register-container {
  margin: 0;
  color: #FFF;
}

#footer {
  padding: 20px;
  text-align: right;
}

#register_page_wrapper {
  background-color: #222222;
}

#thankyou {
  color: #FFF;
}

.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
